    <style>
      *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      .container{
        width: 80vw;
        margin: auto;
        text-align: center;
      }

      h1{
        text-align: center;
        margin-bottom: 20px;
      }
    </style>
    <div class="container">
      <h1 class="text-center my-5">WPD_Theme | 404 Page</h1>
      
      <main>
        <h1>
          The contents you are looking are not available at this moment. Please
          check again later.
        </h1>
      </main>
    </div>

